#Systemd service file for klipper
[Unit]
Description=Starts klipper instance  on startup
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User={{ klipper_user }}
RemainAfterExit=yes
ExecStart={{ klipper_env_dir }}/bin/python {{ klipper_src_dir }}/klippy/klippy.py {{ klipper_config_dir }}/printer.cfg -I /tmp/printer -l {{ klipper_user_home }}/klipper_logs/klippy.log -a /tmp/klippy_uds
Restart=always
RestartSec=10
